<div class="container" @appear>
  <form class="data" [formGroup]="fg" [style]="loaded ? '' : 'filter: blur(3px);'">
    <div class="pic">
      <img [src]="employee.profile_image ? employee.profile_image : '../../assets/images/placeholder.png'" alt="Profile Picture">
    </div>
    <label>
      <p><span>* </span>Name:</p>
      <input type="text" formControlName="name" [ngClass]="{invalid: !isValidNotRequired(fname)}">
    </label>
    <label>
      <p><span>* </span>Salary:</p>
      <input type="number" formControlName="salary" [ngClass]="{invalid: !isValidNotRequired(fsalary)}">
    </label>
    <label>
      <p><span>* </span>Age:</p>
      <input type="number" formControlName="age" [ngClass]="{invalid: !isValidNotRequired(fage)}">
    </label>
    <button (click)="update()" [disabled]="fg.invalid">Update</button>
    <button (click)="delete(employee.employee_name)">Delete</button>
    <div class="status-container">
      <p class="info" *ngIf="status">{{status}}</p>
      <div *ngIf="!status" class="loader">
        <app-loader></app-loader>
      </div>
    </div>
  </form>
  <div *ngIf="!loaded" class="loader">
    <app-loader></app-loader>
  </div>
</div>
