<div class="container">
    <div class="list-container">
        <div class="header">
            <p>ID</p>
            <p>E-mail</p>
            <p>Nickname</p>
            <p>Phone</p>
            <p>Website</p>
        </div>
        <ul>
            <li *ngFor="let user of usersData">
                <p *ngFor="let item of user">{{item}}</p>
                <div><button (click)="delete(user[0])" class="delete"><i class="las la-trash-alt"></i></button></div>
                <div><button [routerLink]="['/edit', user[0]]" class="edit"><i class="las la-pen"></i></button></div>
            </li>
        </ul>
    </div>
    <button (click)="logout()" class="logout"><i class="las la-sign-out-alt"></i>Log out</button>
</div>
