<div class="container" @appear>
  <h2>WELCOME</h2>
  <form [formGroup]="form" (ngSubmit)="login()">
    <input type="email" formControlName="email" [ngClass]="{invalid: !isValidNotRequired(femail)}" placeholder="E-mail">
    <input type="password" formControlName="password" [ngClass]="{invalid: !isValidNotRequired(fpassword)}" placeholder="Password">
    <div class="buttons">
      <button [disabled]="form.invalid" type="submit">Login</button>
      <button [routerLink]="['']" type="reset">Register</button>
    </div>
  </form>
  <p class="info">{{infoText}}<span class="invisible">|</span></p>
</div>
