<div class="container">
    <h2><i class="lab la-angular"></i></h2>
    <h1 [ngClass]="{'no-display': burgerService.small}"><span>Angular</span> project</h1>

    <div class="buttons" *ngFor="let item of menuItems">
        <button [routerLink]="item.router"><i [class]="item.icon" [ngStyle]="{'font-size': burgerService.small ? '150%' : null}"></i><span [ngClass]="{'no-display': burgerService.small}">{{item.title}}</span></button>
    </div>

    <footer>
        <p>© David Tsiklauri 2021</p>
    </footer>
</div>
