@import '/src/assets/styles/fonts', '/src/assets/styles/palette';

.container {
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr;
  padding: 50px;
}

.employees {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  width: 100%;
  height: 100%;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.page {
  & {
    $size: 25px;
    cursor: pointer;
    width: $size;
    height: $size;

    line-height: $size;
    text-align: center;
    font-weight: 500;
    color: $black;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition: 0.25s linear;
  }

  &.disabled {
    color: $outline-dark;
  }

  &.selected {
    color: $blue;
  }
}

$radius: 5px;
.employee {
  position: relative;
  width: 100%;
  height: 150px;

  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100%;

  column-gap: 20px;

  border-radius: $radius;
  box-shadow: 0 0 11px 2px $outline-dark;

  span {
    font-weight: 600;
    color: $outline-dark;
  }

  h3 {
    margin-top: 15px;
    font-size: 150%;
    font-weight: 600;
  }

  p {
    margin-top: 5px;
    font-size: 125%;
  }
}

.profile {
  height: 100%;
  width: 100%;

  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

.buttons {
  position: absolute;
  right: 15px;
  bottom: 10px;
  display: flex;

  button {
    $size: 30px;
    border: none;
    border-radius: 5px;
    height: $size;

    background: transparent;
    color: rgba($color: $black, $alpha: 0.3);
    font-size: 100%;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 125%;
      margin-right: 2px;
    }

    &:hover {
        &.delete {
            color: red;
        }
        &.edit {
            color: lime;
        }
        &.more {
          color: orange;
        }
        box-shadow: 0 0 5px $outline-dark;
    }
  }
}

form {
  $padding-right: 15px;
  padding-top: 10px;
  padding-right: $padding-right;
  width: 100%;
  height: 100%;
  position: relative;

  label {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 77px auto;
    width: 100%;
    column-gap: 10px;
    align-items: center;

    h3, p {
      margin: 0;
      font-weight: 600;
      color: $outline-dark;
    }

    input {
      box-shadow: 0 0 11px 2px $outline-dark;
      border-radius: 5px;
      border: none;
      width: 100%;
      padding: 0 15px;
      height: 25px;

      &.invalid {
        box-shadow: 0 0 10px red;
      }

      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
      }
    }
  }

  .info {
    $height: 30px;
    position: absolute;
    right: $padding-right;
    bottom: 10px;
    width: 100%;
    padding-left: 15px;
    height: $height;

    * {
      position: relative;
      top: $height / 2;
      transform: translateY(-50%);
    }

    p {
      float: left;
      font-size: 100%;
      color: $blue;
      font-weight: 500;
      line-height: $height;
      height: 100%;
    }

    img {
      float: left;
      height: 50%;
    }

    button {
      float: right;
      border: none;
      background-color: $blue;
      color: white;
      height: 100%;
      padding: 0 15px;
      border-radius: 5px;
      letter-spacing: 0.5px;
      transition: linear 0.25s;
      margin-left: 5px;

      &:disabled {
          background-color: $outline-dark;
      }
    }
  }
}

.loading {
  filter: blur(3px);
}

.loader {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.error {
  position: absolute;
  left: 170px;
  color: red;
  bottom: 15px;
}

.tools {
  width: 100%;
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  justify-content: center;
  align-items: flex-end;

  button {
    $size: 30px;
    border: none;
    background-color: transparent;
    font-size: 120%;
    border-radius: 50%;
    width: $size;
    height: $size;

    &:hover {
      box-shadow: 0 0 5px $outline-dark;
    }
  }

  input {
    box-shadow: 0 0 11px 2px $outline-dark;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    height: 25px;
    width: 100%;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: darkgray;
    }
  }
}

.rotating {
  animation: linear 1s infinite rotate;
}

@keyframes rotate {
  from { transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
