@import '/src/assets/styles/palette';

.root-container {
    width: 100%;
    height: 100%;
    display: flex;
}

app-menu {
    height: 100%;
    width: 300px;
}

.content-container {
    background-color: $grey;
    width: 100%;
    height: 100%;
    padding: 50px;
}